.horizontal-line {
    position: absolute;
    height: 2px;
    background-color: blue;
    z-index: 100;
}

/* Ensure that the VBoxes are properly positioned */
.buttonVBox, .listVBox {
    position: relative;
    padding: 10px;
}